{% extends '::base.html.twig' %}
{% block title %}Your dashboard{% endblock %}
{% block body %}

    <div class="col-md-12 whitebox">
    {% include('CiberFlatBundle:Dashboard:menu.html.twig') %}
        <h2>
            Your flats
        </h2>
    </div>
{% endblock %}