<a class="quick-btn" href="#">
    <i class="glyphicon glyphicon-home"></i>
    <span>Flats</span>
    <span class="label label-default">2</span>
</a>
<a class="quick-btn" href="#">
    <i class="glyphicon glyphicon-envelope"></i>
    <span>Messages</span>
    <span class="label label-default">0</span>
</a>
<a class="quick-btn pull-right" href="#">
    <i class="glyphicon glyphicon-wrench"></i>
    <span>Settings</span>

</a>
<a class="quick-btn pull-right" href="#">
    <i class=" glyphicon glyphicon-plus"></i>
    <span>Add new flat</span>

</a>