{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends '::base.html.twig' %}
{% block title %}Your dashboard{% endblock %}
{% block body %}

    <div class="col-md-12 whitebox">
        {% include('CiberFlatBundle:Dashboard:menu.html.twig') %}
        <hr>
        <h2>
            Add new flat
        </h2>
        <div class="col-md-8">
            <form class="form-horizontal" enctype="multipart/form-data" action="" method="post">
                {{ form_errors(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}

                <h3>Adress</h3>
                {{ form_row(form.address.country) }}
                {{ form_row(form.address.postcode) }}
                {{ form_row(form.address.street) }}
                {{ form_row(form.address.houseNumber) }}
                {{ form_row(form.address.district) }}
                {{ form_row(form.address.city) }}
                <h3>Properties</h3>
                {{ form_row(form.is_rentable) }}
                {{ form_row(form.is_buyable) }}
                <h3>Price</h3>
                <ul class="prices" data-prototype="{{ form_widget(form.prices.vars.prototype)|e('html_attr') }}">
                    {# iterate over each existing tag and render its only field: name #}
                    {% for price in form.prices %}
                        <li>{{ form_row(price.currency) }}</li>
                    {% endfor %}
                </ul>
                <h3>Pictures</h3>
                <ul class="flatimages" data-prototype="{{ form_widget(form.flatImages.vars.prototype)|e('html_attr') }}">
                    {# iterate over each existing tag and render its only field: name #}
                    {% for flatimage in form.flatImages %}
                        <li>{{ form_row(flatimage.image_file) }}</li>
                    {% endfor %}
                </ul>
                <h3>Contact details</h3>
                {{ form_row(form.contact.contact_name) }}
                {{ form_row(form.contact.contact_email) }}
                {{ form_row(form.contact.contact_phone) }}
                {{ form_row(form.save) }}
                {{ form_row(form._token) }}
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
{% endblock %}