<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets
        'assets/vendor/bootstrap/dist/css/bootstrap.css'
        'assets/vendor/templating/css/layout.css'
        'assets/vendor/templating/css/style.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
    {% include 'header.html.twig' %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% include 'footer.html.twig' %}
    </body>
</html>
