<div class="body3">
    <div class="body4">
        <div class="main">
            <section id="content2">
                <article class="col3 pad_left1">
                    <h3>Buying</h3>
                    <figure class="pad_bot1"><img src="images/page1_img3.jpg" alt=""></figure>
                    <p class="pad_bot2"><a href="#">16.12.2010</a></p>
                    <p class="pad_bot2">
                        Praesent vestibulum molestie lacenean nonummy hendrerit mauri asefporaum sociis penatibus natoque.</p>
                    <a href="#" class="line_right">6 Comments</a> <a href="#">Read More</a>
                </article>
                <article class="col3 pad_left2">
                    <h3>Selling</h3>
                    <figure class="pad_bot1"><img src="images/page1_img4.jpg" alt=""></figure>
                    <p class="pad_bot2"><a href="#">11.12.2010</a></p>
                    <p class="pad_bot2">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                    <a href="#" class="line_right">2 Comments</a> <a href="#">Read More</a>
                </article>
                <article class="col3 pad_left2">
                    <h3>Renting</h3>
                    <figure class="pad_bot1"><img src="images/page1_img5.jpg" alt=""></figure>
                    <p class="pad_bot2"><a href="#">13.12.2010</a></p>
                    <p class="pad_bot2">
                        Nemo enim ipsam voluptatem voluptas sit aspernatur aut odit aut fugit, sedquia penatibus magnis.</p>
                    <a href="#" class="line_right">9 Comments</a> <a href="#">Read More</a>
                </article>
            </section>
        </div>
    </div>
</div>
    <!--content end-->
    <!--footer -->
    <footer>
        2016 - ingatlanpiac.eu
    </footer>
    <!--footer end-->
<script type="text/javascript"> Cufon.now(); </script>
        {% javascripts
        'assets/vendor/jquery/dist/jquery.js'
        'assets/vendor/bootstrap/dist/js/bootstrap.js'
        'assets/vendor/ckeditor/ckeditor.js'
        'assets/vendor/templating/js/symfony3helpers.js'
        'assets/vendor/templating/js/main.js'
        %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
