<!--header -->
<header>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" id="logo">Estate</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="btn btn-menu" href="{{ url('homepage') }}">Home</a></li>
                        <li><a class="btn btn-menu" href="/flats">Flats</a></li>
                        <li><a class="btn btn-menu" href="#">About</a></li>
                        <li><a class="btn btn-menu" href="#">Contact</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                                <a href="#" class="btn-alter btn-menu dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ app.user.username }}  <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Dashboard</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Income messages</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span> Profile settings</a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="/app_dev.php/admin"><span class="glyphicon glyphicon glyphicon-cog" aria-hidden="true"></span> Adminisztráció</a></li>

                                    {% endif %}
                                    <li role="separator" class="divider"></li>
                                    <li><a  href="{{ url('fos_user_security_logout') }}">Log out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a class="btn btn-menu" href="{{ url('fos_user_security_login') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Log in</a></li>
                        {% endif %}


                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

    </div>
</header>
<hr>
<!--header end-->