{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


        <div class="col-md-12 col-xs-12 whitebox">
        <h2>Log in</h2>

        <div class="col-md-6">
            <h4>If you are a registered user, please log in</h4>
            <form class="form-horizontal" action="{{  path("fos_user_security_check")}}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="username">Felhasználónév</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password">Jelszó</label>
                    <div class="col-sm-8">
                        <input type="password" id="password" name="_password" required="required" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                Emlékezz rám
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <input type="submit" id="_submit" class="btn-primary btn" name="_submit" value="Belépés" />
                    </div>
                </div>

            </form>
            <div class="fb-login-button" data-max-rows="10" data-size="medium" data-show-faces="true" data-auto-logout-link="false"></div>

        </div>

        <div class="col-md-6">
            <h4>If you are new around here, register</h4>

            <a href="" class="btn btn-default">Register</a>


        </div>


    </div>

{% endblock body %}
