<div class="container flat-list-box">
    <div class="col-md-4">
        kép helye
    </div>
    <div class="col-md-8">
        <div class="wrapper">
            <figure class="right pad_left1">
                <img src="images/page1_img2.jpg" alt="">
            </figure>
            <p class="font1">Sed ut perspiciati natus error sit voluptatem accu- soloremque.</p>
        </div>
        <p class="font2 pad_bot2">December 15, 2010</p>
        <p class="pad_bot2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
        <a class="link1" href="#">Read More</a>
    </div>

</div>