{% extends '::base.html.twig' %}
{% block title %}Flats{% endblock %}
{% block body %}
   <h2>
      Flats for sale in Budapest
   </h2>
   {{ include('CiberFlatBundle:Default:flat-list-item.html.twig') }}
{% endblock %}
